.bio,
.intro {
  display: flex;
  justify-content: center;
}
.intro {
  font-size: 60px;
}
.bio {
  padding-bottom: 30px;
}

.choice {
  text-align: center;
}
.firstrow {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(3, 33.3%);
}
.firstrow img {
  width: 60%;
}

.secondrow {
  display: grid;
  grid-template-rows: max-content;
  grid-template-columns: repeat(2, 50%);
}
.secondrow img {
  margin-top: 50px;
  width: 40%;
}
