:root {
  --bodynorm: #000000;
  --bodyhover: #b80000;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
a {
  font-size: 16px;
  text-decoration: none;
  transition: color 0.4s;
}

.content a {
  color: var(--bodynorm);
}
.content a:visited {
  color: var(--bodynorm);
}
.content a:hover {
  color: var(--bodyhover);
}
