:root{--bodynorm:#000000;--bodyhover:#b80000}

.options{padding:100px;display:flex;flex-direction:column;align-items:space-between;align-items:center}
.option .option__info{padding-left:100px}
.option .image{display:flex;align-content:space-around}

.content a{color:var(--bodynorm)}
.content a:visited{color:var(--bodynorm)}
.content a:hover{color:var(--bodyhover)}