.content {
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1,
h2,
p {
  padding: 10px;
  display: flex;
  justify-content: center;
  text-align: center;
}
h1 {
  font-size: 60px;
  text-decoration: dotted;
  text-decoration-color: #000;
}
hr {
  border: none;
  color: #000;
  background-color: #000;
  border: solid;
  border-width: 0;
  height: 1px;
  width: 25%;
  margin: 0 auto;
}
