.intro {
  display: flex;
  justify-content: center;
  font-size: 60px;
}
.text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 5px;
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

.content img {
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  align-self: center;
  box-shadow: 1px -4px 4px 0px rgba(0, 0, 0, 0.05);
  max-width: min-content;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  position: relative;
}

.description {
  position: absolute;
  top: 50%;
  bottom: 0;
  left: 0;
  right: 0;
  color: black;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s, visibility 0.2s;
}

.name:hover .description {
  visibility: visible;
  opacity: 1;
}

.name:hover img {
  transition: 0.2s;
  opacity: 0.3;
}

.managers {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(4, 25%);
}

.testers {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, 50%);
}

.juniorengineers,
.seniorengineers,
.ux {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, 33.3%);
}

@media screen and (max-width: 720px) {
  .managers {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 50%);
  }

  .testers {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 50%);
  }

  .juniorengineers,
  .seniorengineers,
  .ux {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 50%);
  }
}
