.intro {
  display: flex;
  justify-content: center;
  font-size: 60px;
}
.text {
  display: flex;
  justify-content: center;
  font-size: 30px;
  padding-bottom: 5px;
  text-align: center;
}

h2 {
  font-size: 15px;
  font-weight: 500;
}

.content img {
  margin-bottom: 30px;
  margin-top: 50px;
  display: flex;
  align-self: center;
  box-shadow: 1px -5px 2px 0px rgba(0, 0, 0, 0.2);
  max-width: min-content;
  border-radius: 50%;
}

.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.managers {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(4, 25%);
}

.testers {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(2, 50%);
}

.juniorengineers,
.seniorengineers,
.ux {
  display: grid;
  grid-template-rows: min-content;
  grid-template-columns: repeat(3, 33.3%);
}

@media screen and (max-width: 720px) {
  .managers {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 50%);
  }

  .testers {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 50%);
  }

  .juniorengineers,
  .seniorengineers,
  .ux {
    display: grid;
    grid-template-rows: min-content;
    grid-template-columns: repeat(2, 50%);
  }
}
